Sample Projects/

ipch/

*.aux
*.dvi
*.log
*.ps

*.sdf
*.opensdf

#OS junk files
Thumbs.db
*.DS_Store

#Visual Studio files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.Publish.xml
obj/
[Dd]ebug*/
[Rr]elease*/

#Toolinga
[Tt]est[Rr]esult

#Project files
[Bb]uild/

*/[Aa]pp_[Dd]ata/*
!*/[Aa]pp_[Dd]ata/[Ww]eb.config
!*/[Aa]pp_[Dd]ata/Git/*
!*/[Aa]pp_[Dd]ata/note.txt
!*/[Aa]pp_[Dd]ata/Repositories/note.txt

*/[Bb]in/*
!*/[Bb]in/[Ww]eb.config
