Sample Projects/

ipch/

*.aux
*.dvi
*.log
*.ps

*.sdf
*.opensdf

#OS junk files
Thumbs.db
*.DS_Store

#Visual Studio files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.Publish.xml
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Toolinga
[Tt]est[Rr]esult

#Project files
[Bb]uild/

Bonobo.Git.Server/App_Data/Bonobo.Git.Server.db
Bonobo.Git.Server/App_Data/config.xml
Bonobo.Git.Server/App_Data/Repositories/*/
