<configuration>
  <runtime>
  </runtime>
  <appSettings>
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="UserConfiguration" value="~\App_Data\config.xml" />
      <add key="DefaultRepositoriesDirectory" value="~\App_Data\Repositories" />
      <add key="GitPath" value="~\App_Data\Git\git.exe" />
      <add key="GitHomePath" value="~\App_Data" />
      <add key="RecoveryDataPath" value="~\App_Data\Recovery" />
      <add key="LogDirectory" value="~\App_Data\Logs" />
      <add key="serilog:minimum-level" value="Information" />
      <!-- 
    <add key="serilog:minimum-level" value="Verbose" />
-->
      <add key="AuthenticationProvider" value="Cookies" />
      <!--
    <add key="AuthenticationProvider" value="Windows" />
-->
      <add key="ImportWindowsAuthUsersAsAdmin" value="false" />
      <!--<add key="AuthenticationProvider" value="Federation" />-->
      <add key="MembershipService" value="Internal" />
      <!--<add key="MembershipService" value="ActiveDirectory" />

    <add key="ActiveDirectoryDefaultDomain" value="domain.local" />
    <add key="ActiveDirectoryBackendPath" value="~\App_Data\ADBackend" />
    <add key="ActiveDirectoryMemberGroupName" value="Git" />
    <add key="ActiveDirectoryTeamMapping" value="Developers=GitTeam" />
    <add key="ActiveDirectoryRoleMapping" value="Administrator=GitAdmins" />-->
      <!--<add key="FederationMetadataAddress" value="https://sts.domain.local/federationmetadata/2007-06/federationmetadata.xml" />
    <add key="FederationRealm" value="https://git.domain.local" />-->
  </appSettings>
  <connectionStrings>
    <add name="BonoboGitServerContext" connectionString="Data Source=C:\Foo\Bonobo.Git.Server.db;" />
    <!--<add name="BonoboGitServerContext" connectionString="Server=.;Database=bonobogit;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>