<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.2" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="LibGit2Sharp" version="0.18.1.0" targetFramework="net45" />
  <package id="MarkdownDeep.Full" version="1.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.4" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.86.0" targetFramework="net45" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net40" />
  <package id="Unity" version="3.0.1304.0" targetFramework="net45" />
  <package id="Unity.Mvc4" version="1.1.0.0" targetFramework="net40" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>