<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AllowDBReset" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>

    <add name="BonoboGitServerContext"
         connectionString="Data Source=|DataDirectory|Bonobo.Git.Server.db;BinaryGUID=False;"
         providerName="System.Data.SQLite"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />


  </connectionStrings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
    <compilation debug="true" xdt:Transform="SetAttributes"  />
  </system.web>
</configuration>