html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] { font-family: OpenSans, sans-serif; }

html { font-size: 16px; color: #333; text-rendering: optimizeLegibility; }
html, body { margin: 0; padding: 0; height: 100%; min-width: 1100px;}

h1, h2, h3, h4, h5, h6 { font-weight: 300; }
a { color: #4183c4; text-decoration: none; }
a:hover { text-decoration: underline; }
.pure-button:hover { text-decoration: none; }
i.fa { margin-right: 0.25em; }

table { width: 100%; margin: 2em 0; }
th a { color: #333; }
th a:hover { text-decoration: none; color: #4183c4; }
.pure-table td, .pure-table th { padding: 0.8em; }
.pure-table { border: none; }
.pure-table td, .pure-table th { border: none; border-bottom: 1px solid #f6f6f6; text-align: left; }
.pure-table thead { background: none; }
.pure-table th { font-weight: 300; }

pre code { font-family: Consolas, monospace; }

.field-validation-error { color: #a94442; margin-left: 0.7em; }
.field-validation-valid { display: none; }
.input-validation-error { border: 1px solid #a94442 !important; background-color: #fdf7f7; }
.validation-summary-errors, .summary-error { border-left: 3px solid #d9534f; background: #fdf7f7; padding: 1em; margin-bottom: 2em; }
.summary-success { border-left: 3px solid #009900; background: #F2F9EF; padding: 1em; margin-bottom: 2em; }
.validation-summary-errors ul { margin: 0.75em 1em; }
.validation-summary-valid { display: none; }
.pure-form .checkboxlist > label, .pure-form .checkboxlist > .field-validation-error, .pure-form .checkboxlist > i.fa-info-circle { vertical-align: top !important; }
.pure-form .checkboxlist ul { max-height: 8.5em; overflow: auto; width: 17em; display: inline-block; padding: 0; margin: 0 0 1em 0; }
.pure-form .checkboxlist ul li { margin-bottom: 3px; list-style: none; }
.pure-form .checkboxlist ul li label { width: 14em; }
.pure-form em, .pure-form i.fa-info-circle { color: silver; padding-left: 0.3em; }
.pure-form .pure-button { margin-right: 1em; }
.pure-form.detail span { vertical-align: middle; line-height: 2em; }
.pure-form.detail label { color: silver; }
textarea.medium, input.medium { width: 30em; }
textarea.large, input.large { width: 40em;height: 17em; }



.navigation { padding: 0.5em 0; text-align: right;}
.navigation.pure-menu a.pure-menu-heading { color: white; font-weight: 300; font-size: 1.2em; background: url('images/git-logo.png') no-repeat 0 4px; padding-left: 40px; float: left; margin-left: 0.5em;}
.navigation.pure-menu-open { background: #2d3e50; }
.navigation .pure-menu-selected a { color: white; }
.navigation a { color: #fff; }
.navigation ul { display: inline-block; font-size: 0.9em; padding-right: 0.5em;}
.navigation ul a { padding: 7px 10px;}
.navigation li a:hover,
.navigation li a:focus { background: none; color: #AECFE5; text-decoration: none; }
.Repository .navigation .repository, .Account .navigation .users, .Team .navigation .teams, .Settings .navigation .settings { color: #AECFE5; }


.main { min-height: 100%; position: relative; }

.content { width: 980px; margin: 0 auto; padding-bottom: 50px; }
.content h1 { position:relative; }
.content h1 img {   position: absolute; left: -54px; top: 6px; }

.footer { color: #999; background-color: #000; font-size: 0.85em; width: 100%; position: absolute; bottom: 0; height: 50px; line-height: 1.7em; text-align: center; }
.footer a { color: #999; text-decoration: none; }
.footer a:hover { color: #fff; }

.add { text-align: right; margin-top: 1.6em; }

.repositories tbody td a.detail:before, .users tbody td a.detail:before, .teams tbody td a.detail:before,
.Tree .content .directory:before, .Tree .content .image:before, .Tree .content .file:before { font-family: FontAwesome; top: 0; padding-right: 0.5em; }
.repositories tbody td a.detail:before { content: "\f0a0"; }
.users tbody td a.detail:before { content: "\f007"; }
.teams tbody td a.detail:before { content: "\f0c0"; }
.Tree .content .directory:before { content: "\f115"; }
.Tree .content .image:before { content: "\f030"; }
.Tree .content .file:before { content: "\f0f6"; }
tbody td a.edit:before { font-family: FontAwesome; top: 0; content: "\f044"; }
tbody td a.delete:before { font-family: FontAwesome; top: 0; content: "\f014"; }
tbody td.action { width: 1em; }
tfoot td { text-align: center; border-bottom: none !important; }

.repository-menu { margin-bottom: 0em; }
.repository-menu a:hover { text-decoration: none; }
.Detail .repository-menu .detail, .Tree .repository-menu .browser, .Blame .repository-menu .browser, .Blob .repository-menu .browser, .Commit .repository-menu .commits, .Commits .repository-menu .commits { color: #4183c4; }

.Repository div.detail { margin-top: 2em; }


nav.branches a:hover { text-decoration: none; }
nav.branches li.active a { color: #4183c4; }
nav.branches li > a:after { content: '\f107'; font-family: FontAwesome; margin-left: 0.5em; }
nav.branches li > a:only-child:after { content: ''; }
nav.branches .branch a:before, .branches a.branch:before { content: '\f0e8'; font-family: FontAwesome; margin-right: 0.5em; display: inline-block; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
nav.branches li:hover { background-color: #eee; }
nav.branches ul { padding: 0; margin: 0; }
nav.branches ul li { list-style: none; background-color: #fff; float: left; }
nav.branches ul li a { color: #777; padding: 7px 20px; display: inline-block; }
nav.branches ul li ul { display: none; border: 1px solid #f6f6f6; }
nav.branches ul li:hover ul { z-index: 99999; display: list-item; position: absolute; }
nav.branches ul li:hover ul li { float: none; }
.Commits nav.branches ul li { display: inline-block; float: none;}
.Commits nav.branches ul li:hover ul li { display: block; float: none;}
.tag a:before, .branches a.tag:before { content: '\f02b'; font-family: FontAwesome; margin-right: 0.5em; }

.Tree .pure-table tbody { font-size: 0.8em; }
.Tree #files .path { width: 230px;}
.Tree #files .date { width: 150px;}
.breadcrumbs { padding: 7px; margin: 0; }
.breadcrumbs em { font-weight: bold; font-style: normal; }

.blob { border: 1px solid #ddd; margin: 2em 0; }
.blob .controls { border-bottom: 1px solid #ddd; text-shadow: 0 1px 0 #fff; background-image: linear-gradient(#fafafa, #eaeaea); background-repeat: repeat-x; padding-right: 1em;}
.blob .controls:after { content: ''; clear: both; display: block;}
.blob .controls > * { color: #777; display: inline-block; padding: 0.5em;}
.blob .controls a { float: right;}
.blob .controls a:hover { color: #4183c4; text-decoration: none;}
.blob pre, .diff pre { font-size: 0.8em; word-wrap:normal; overflow: auto; margin: 0; padding: 0;}
.blob pre code, .diff pre code { white-space: pre; background: transparent; margin: 0.5em;}
.blob img {margin: 1em auto; display: block;}

.markdown { padding: 1em; }

.blame { overflow-x: auto }
#blame_table { margin: 0 0 -1px 0; }
#blame_table td { border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea }
#blame_table td.commit { border-right: 1px solid #eaeaea; vertical-align: top }
#blame_table td.commit .commit { border-bottom: none; width: 500px }
#blame_table td.commit .commit h2 { font-size: 1em; max-width: 100% }
#blame_table td.commit .commit h4 { margin: 0 }
#blame_table td.commit .commit .metadata .avatar { width: 65px; margin: 0 0 0 5px }
#blame_table td.commit[rowspan="2"] .commit h2 { margin: 0 }
#blame_table td.commit[rowspan="2"] .commit .metadata h4 + p { display: block }
#blame_table td.commit[rowspan="2"] .commit .metadata p { display: none }
#blame_table td.commit[rowspan="2"] .commit .metadata .avatar { display: none }
#blame_table td.commit[rowspan="1"] .commit h2 { margin: 0 }
#blame_table td.commit[rowspan="1"] .commit h4 { display: none }
#blame_table td.commit[rowspan="1"] .commit .metadata h4 { display: block }
#blame_table td.commit[rowspan="1"] .commit .metadata p { display: none }
#blame_table td.commit[rowspan="1"] .commit .metadata .avatar { display: none }
#blame_table td.line_nr { text-align: right; padding: 0 5px; border-right: 1px solid #eaeaea }
#blame_table td.line { vertical-align: middle }
#blame_table td.line pre { white-space: pre }
#blame_table tr.even td.line { background-color: #eaeaea; border-top: 1px solid #fff; border-bottom: 1px solid #fff }

.commit .metadata > div { float: right }
.commit .metadata .avatar { margin: 20px 0 0 5px; }
.commit .metadata p { margin: 0; font-size: 0.8em; font-family: Consolas, monospace;}
.commit .metadata h4 { margin-bottom: 0.5em;}
.commit .metadata { text-align: right;}
.commit h2 {width: 780px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.commit h2 a:hover { text-decoration: none; color: #777;}
.commit { border-bottom: 1px solid #f6f6f6; }

.Commit em { font-style: normal;}
.Commit .item { font-family: Consolas, monospace; font-size: 0.8em;}
.Commit .item .count { text-align: right;}
.Commit .blob .controls { text-align: left;}
.Commit .blob .controls p { margin: 0; padding: 0.5em 1em;}
.Commit .diff h3 { margin-top: 1.5em; }

.commit .notes p { font-size: 0.7em; }
.commit h2{ margin-bottom: 0; position:relative; }
.commit .commitdate { font-size: 0.7em}

.pure-u-2-5.metadata div { z-index:11; position:relative; }

.commit h2 { margin-bottom: 0; position: relative; }
.commit h2 a.commit-url { display: inline-block; max-width: 90%; overflow: hidden; text-overflow: ellipsis; }
.commit .commitdate { font-size: 0.7em; }

.more-commit-info-toggler { background-color: silver; border: 1px solid #a39e9e; border-radius: 1px; color: #827a7a; display: inline-block; font-size: 14px; font-weight: bold; height: 12px; line-height: 6px; padding: 0 6px 1px; position: relative; top: -9px; vertical-align: middle; }

.repositories { margin: 0 0 1em 0; }
h2.group { margin: 0; }
td.description { width: 50%; }
td.logo { width: 36px; }

h2.group .toggle:after { display: inline-block; font-family: FontAwesome; top: 0; content: "\f056"; height: 100%; width: 20px; cursor: pointer; color: #4183c4; }
h2.group .toggle.on:after { content: "\f055"; }
