<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bonobo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bonobo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bonobo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bonobo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BonoboGitServerContext" Order="1" Enabled="False">
          <Destination Path="EtM5+9qzV1A5iZATCEm1GoWxwltpIUsj8xKAQETEd0vW2GTVwefFoZlXmztEFJ/W9zb1Qm8bo7JcGISB19sfBQ==" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Bonobo.Git.Server.Data.BonoboGitServerContext, Bonobo.Git.Server" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BonoboGitServerContext-Web.config Connection String">
      <ParameterValue>EtM5+9qzV1A5iZATCEm1GoWxwltpIUsj8xKAQETEd0vW2GTVwefFoZlXmztEFJ/W9zb1Qm8bo7JcGISB19sfBQ==</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>