<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DataEntities"
      connectionString="metadata=res://*/Data.DatabaseModel.csdl|res://*/Data.DatabaseModel.ssdl|res://*/Data.DatabaseModel.msl;provider=System.Data.SQLite;provider connection string='data source=|DataDirectory|Bonobo.Git.Server.Release.db'"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="UserConfiguration"
      value="~\App_Data\config.xml"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>