@{
    ViewBag.Title = Resources.Home_About_Title;
}

<h2>@Resources.Home_About_Title</h2>
<h3>@Resources.Home_About_Thanks</h3>
<p>@Resources.Home_About_Thanks_p</p>
<ul>
    <li><a href="http://www.eqqon.com/index.php/GitSharp">gitsharp</a> - henon</li>
    <li><a href="http://sqlite.phxsoftware.com/">System.Data.SQLite</a> - phxsoftware</li>
    <li><a href="http://code.google.com/p/ude/">ude - C# port of Mozilla Universal Charset Detector</a> - rudi.pettazzi</li>
    <li><a href="http://alexgorbatchev.com/SyntaxHighlighter">SyntaxHighlighter</a> - Alex Gorbatchev</li>
    <li><a href="http://sprawsm.com/work/uni-form/">Uni-Form</a> - Dragan Babic</li>
    <li><a href="http://wefunction.com/2008/07/function-free-icon-set">Function Icon Set</a> - liam</li>
    <li><a href="http://www.famfamfam.com/lab/icons/mini/">Mini Icons</a> - famfamfam</li>
    <li>Chinese Translation - iccfish 木魚</li>
    <li>Japanse Translation - <a href="https://github.com/usagi">usagi</a></li>
    <li>Spanish Translation - <a href="https://github.com/AHTA">Humberto Tovar</a></li>
</ul>
