@{
    ViewBag.Title = Bonobo.Git.Server.App_GlobalResources.Resources.Home_Unauthorized_Title;
}

<h1>@Bonobo.Git.Server.App_GlobalResources.Resources.Home_Unauthorized_Title</h1>
<div>
    <p class="summary-error">@Bonobo.Git.Server.App_GlobalResources.Resources.Home_Unauthorized_Text</p>
</div>
